<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Bhasker</display-name>
 <context-param>
<param-name>headingOfTheProject</param-name>
<param-value>PRACTICAL 10</param-value>
</context-param>
<servlet>
<servlet-name>prac10</servlet-name>
<servlet-class>com.bhaskar.prac10</servlet-class>
<init-param>
<param-name>address</param-name>
<param-value>Gokuldham Society,Clement town</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>prac10</servlet-name>
<url-pattern>/refresh</url-pattern>
</servlet-mapping>
</web-app>